<!doctype html>
<html lang="en">
  <head>
    <title>Firebase IDs</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="/images/favicon.ico?" type="image/x-icon">
  </head>

  <body>

    <!-- basic table to list all records in database to confirm inserts/updates working on Heroku -->

    <table>
      <t>
        <td class="header">ID</td>
        <td class="header">Email</td>
        <td class="header">PNE Status</td>
        <td class="header">Firebase Token</td>
      </tr>
      <% records.each do |record_hash| %>
      <tr>
        <td><%= record_hash["id"] %></td>
        <td><%= record_hash["email"] %></td>
        <td><%= record_hash["pne_status"] %></td>
        <td><%= record_hash["fcm_id"] %></td>
      </tr>
      <% end %>
    </table>

    <br>

    <a href = "/reset">Reset database to baseline</a>

  </body>

</html>